<div class="container-fluid tables">
  <ul class="breadcrumb">
    <li>
      <a routerLink="/home">
        <i class="fa fa-fw fa-home"></i>Home
      </a>
    </li>
    <li>
      <a href="javascript:void(0);">Dropdown</a>
    </li>
    <li>Tables</li>
  </ul>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          DataTables Advanced Tables
        </div>
        <div class="panel-body">
          <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
              <th hidden="hidden">ID</th>
              <th>Name</th>
              <th>Age</th>
              <th>Sex</th>
              <th>Telphone</th>
              <th>Grade</th>
              <th>Operation</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of person">
                <th hidden="hidden">{{p.id}}</th>
                <th>{{p.name}}</th>
                <th>{{p.age}}</th>
                <th>{{p.sex}}</th>
                <th>{{p.telphone}}</th>
                <th>{{p.grade}}</th>
                <th>
                  <button class="btn btn-primary" (click)="onModify(p.id)">修改</button>
                  <button class="btn btn-danger" (click)="onDelete(p.id)">删除</button>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
