<div class="reg-wrapper">
  <div class="reg-container">
    <div class="reg-box">
      <div class="text-center reg-header">
        <h3 class="card-title" style="display:inline">后台管理系统</h3>
      </div>
      <hr/>
      <form class="reg-form" [formGroup]="regForm">
        <div class="form-group">
          <input type="text" placeholder="用户名" class="form-control" id="userName" formControlName="userName" />
          <div class="username-icon"></div>
          <div class="text-danger" *ngIf="regForm.get('userName').invalid && (regForm.get('userName').touched || regForm.get('userName').dirty)">
            <p *ngIf="regForm.hasError('required','userName')">请输入用户名</p>
            <p *ngIf="regForm.hasError('minlength','userName')">用户名长度不少于3个字符</p>
            <p *ngIf="regForm.hasError('maxlength','userName')">用户名长度不超过6个字符</p>
          </div>
        </div>
        <div formGroupName="pass">
          <div class="form-group">
            <input type="password" class="form-control" placeholder="密码" formControlName="pass1" />
            <div class="password-icon"></div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="确认密码" formControlName="pass2" />
            <div class="password-icon"></div>
          </div>
          <div class="password-icon"></div>
        </div>
        <div class="text-danger" *ngIf="regForm.get('pass').invalid && (regForm.get('pass').touched || regForm.get('pass').dirty)">
          <p *ngIf="regForm.hasError('passValidator','pass')">
            {{regForm.getError('passValidator','pass')?.info}}
          </p>
        </div>
        <div class="form-group" formGroupName="verification">
          <input type="text" class="form-control inputCode" placeholder="验证码" formControlName="inputCode">
          <input type="button" class="verificationCode btn" [(value)]="value" (click)="createCode()" formControlName="verificationCode">
        </div>
        <div class="text-danger" *ngIf="regForm.get('verification').invalid && (regForm.get('verification').touched || regForm.get('verification').dirty)">
          <p *ngIf="regForm.hasError('codeValidator', 'verification')">
            {{regForm.getError('codeValidator', 'verification')?.info}}
          </p>
        </div>
        <div class="form-group text-center">
          <input type="submit" value="注册" class="btn btn-primary submit">
        </div>
      </form>
    </div>
  </div>
</div>
