.manager {
  margin-top: 30px;
}

.breadcrumb a {
  text-decoration: none;
}

.breadcrumb i.fa {
  margin-right: 5px;
}

.admin_set {
  width: 80%;
  background-color: #F9FAFC;
  min-height: 400px;
  margin: 20px auto 0;
  border-radius: 10px;
}

.admin_set ul > li {
  padding: 20px;
  list-style: none;
}

.admin_set ul > li span {
  color: #666;
}
