.sidebar {
  position: fixed;
  background-color: #222;
  color: #fff;
  overflow-y: auto;
  width: 275px;
  left: 275px;
  margin-left: -275px;
  overflow-x: hidden;
  bottom: 0;
  top: 50px;
  margin-bottom: 50px;
}

.sidebar ul li {
  list-style: none;
  padding-left: 15px;
}

.sidebar ul li a {
  color: #fff;
  background-color: #222;
  font-size: 18px;
  border: 0;
  border-radius: 0;
  letter-spacing: 1px;
  outline: 0;/*解决鼠标点击移开之后显示白色虚线方框的bug*/
}

.sidebar ul li a .fa {
  margin-right: 10px;
}

ul.submenu {
  display: none;
}

.expand ul.submenu {
  display: block;
}

