<div class="sidebar">
  <ul class="list-group">
    <li>
      <a routerLink="/home" routerLinkActive="active" class="list-group-item">Home</a>
    </li>
    <li>
      <a routerLink="/message" routerLinkActive="active" class="list-group-item">Message</a>
    </li>
    <li>
      <a routerLink="/widget" routerLinkActive="active" class="list-group-item">Widgets</a>
    </li>
    <li>
      <a href="javascript:void(0);" class="list-group-item">Dropdown</a>
      <ul>
        <li>
          <a routerLink="/table" routerLinkActive="active" class="list-group-item">Tables</a>
        </li>
        <li>
          <a routerLink="/site-form" routerLinkActive="active" class="list-group-item">Forms</a>
        </li>
        <li>
          <a routerLink="/chart" routerLinkActive="active" class="list-group-item">Charts</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
