.sidebar {
  position: fixed;
  background-color: #1C2B36;
  color: #fff;
  overflow-y: auto;
  width: 275px;
  left: 275px;
  margin-left: -275px;
  overflow-x: hidden;
  bottom: 0;
  top: 50px;
  margin-bottom: 50px;
}

.sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  color: #fff;
  background-color: #1C2B36;
  font-size: 18px;
  border: 0;
  border-radius: 0;
  letter-spacing: 1px;
  outline: 0;/*解决鼠标点击移开之后显示白色虚线方框的bug*/
  padding-left: 30px;
}

.sidebar ul li a .fa {
  margin-right: 25px;
}

.sidebar ul li a .sign {
  float: right;
  margin-right: 0;
  line-height: 27px;
}

.sidebar ul li a.active {
  background-color: #131E26;
}

ul.submenu {
  display: none;
}

.expand ul.submenu {
  display: block;
  padding-left: 0;
}

.expand ul.submenu li a {
  padding-left: 75px;
}

