.sidebar {
  position: fixed;
  background-color: #4594ec;
  color: #fff;
  overflow-y: auto;
  width: 275px;
  left: 275px;
  margin-left: -275px;
  overflow-x: hidden;
  bottom: 0;
  top: 50px;
  margin-bottom: 50px;

  ul {
    li {
      list-style: none;

      a {
        color: #fff;
        background-color: #4594ec;
        font-size: 18px;
        border: 0;
        border-radius: 0;
        letter-spacing: 1px;
        outline: 0;/*解决鼠标点击移开之后显示白色虚线方框的bug*/
        padding-left: 30px;

        .fa {
          margin-right: 25px;
        }

        .sign {
          float: right;
          margin-right: 0;
          line-height: 27px;
        }
        &.active {
          background-color: #66afe9;
        }
      }
      ul.submenu {
        display: none;
      }
      .expand {
        ul.submenu {
          display: block;
          padding-left: 0;

          li {
            a {
              padding-left: 75px;
            }
          }
        }
      }
    }
  }
}
