<div class="sidebar">
  <ul class="list-group">
    <li>
      <a href="#" class="list-group-item">Home</a>
    </li>
    <li>
      <a href="#" class="list-group-item">Page One</a>
    </li>
    <li>
      <a href="#" class="list-group-item">Second Page</a>
    </li>
    <li>
      <a href="#" class="list-group-item">Dropdown</a>
      <ul>
        <li>
          <a href="#" class="list-group-item">Tables</a>
        </li>
        <li>
          <a href="#" class="list-group-item">Forms</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
