<div class="container-fluid" style="margin-top: 30px;">
  <ul class="breadcrumb">
    <li>Forms</li>
  </ul>
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Sample Form
        </div>
        <div class="panel-body">
          <form action="#">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label>文本框</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="inputfile">文件输入</label>
              <input type="file" id="inputfile">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox">请打勾
              </label>
            </div>
            <div>
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
            <div class="form-group">
              <label>
                复选框和单选按钮
              </label>
              <div class="checkbox">
                <label><input type="checkbox" value="">选项1</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">选项2</label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>选项1
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">选项2
                </label>
              </div>
            </div>
            <div class="form-group">
              <label>选择列表</label>
              <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
              </select>
              <label>可多选的选择列表</label>
              <select multiple class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
