<div class="container-fluid site-form">
  <ul class="breadcrumb">
    <li>
      <a routerLink="/home">
        <i class="fa fa-fw fa-home"></i>Home
      </a>
    </li>
    <li>
      <a href="javascript:void(0);">Dropdown</a>
    </li>
    <li>Forms</li>
  </ul>

  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">模板式表单</div>
        <div class="panel-body">
          <form role="form" #firstForm="ngForm" (ngSubmit)="onSubmit(firstForm.value)">
            <div class="form-group">
              <label for="username">用户名：</label>
              <input type="text" name="username" id="username" placeholder="请输入用户名" class="form-control" required [(ngModel)]="myForm.username" #username="ngModel">
              <!--<span [hidden]="uname.valid || uname.pristine">-->
              <!--请输入用户名！-->
              <!--</span>-->
              <span *ngIf="username.invalid && (username.touched || username.dirty)">
                <span class="text-danger" *ngIf="username.errors?.required">
                  请输入用户名！
                </span>
              </span>
            </div>
            <!--<div class="form-control">-->
            <!--<label for="username">用户名:</label>-->
            <!--<input ngModel type="text" name="username" id="username" required/>-->
            <!--<span [hidden]="!myForm.form.hasError('required','username')">-->
            <!--请输入用户名！-->
            <!--</span>-->
            <!--</div>-->
            <div ngModelGroup="passwordGroup">
              <div class="form-group">
                <label for="password">密码：</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="请输入密码" [(ngModel)]="myForm.password" required minlength="6" #password="ngModel">
                <span *ngIf="password.invalid && (password.touched || password.dirty)">
                  <span class="text-danger" *ngIf="password.errors?.required">
                    请输入密码！
                  </span>
                  <span class="text-danger" *ngIf="password.errors.minlength">
                    密码至少六位！
                  </span>
                </span>
              </div>
              <div class="form-group">
                <label for="confirmPass">确认密码：</label>
                <input type="password" name="confirmPass" id="confirmPass" class="form-control" placeholder="请再次输入密码" [(ngModel)]="myForm.confirmPass" required #confirmPass="ngModel">
                <span *ngIf="password.invalid && (password.touched || password.dirty)">
                  <span class="text-danger" *ngIf="password.errors?.required">
                    请输入密码！
                  </span>
                  <span class="text-danger" *ngIf="password.value !== confirmPass.value">
                    两次输入密码不相等，请重新输入！
                  </span>
                </span>
              </div>
            </div>
            <div>
              <input class="btn btn-primary" type="submit" value="提交">
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">响应式表单</div>
        <div class="panel-body">
          <form [formGroup]="anotherForm" (ngSubmit)="postDate()">
            <div class="form-group">
              <label for="personName">用户名:</label>
              <input type="text" placeholder="请输入用户名" class="form-control" id="personName" formControlName="personName" />
              <div class="text-danger" *ngIf="anotherForm.get('personName').invalid && (anotherForm.get('personName').touched || anotherForm.get('personName').dirty)">
                <p *ngIf="anotherForm.hasError('required','personName')">用户名必填</p>
                <p *ngIf="anotherForm.hasError('minlength','personName')">用户名长度过短</p>
                <p *ngIf="anotherForm.hasError('maxlength','personName')">用户名长度太长</p>
              </div>
            </div>
            <div class="form-group">
              <label for="phone">手机号码:</label>
              <input type="tel" placeholder="请输入手机号码" class="form-control" id="phone" formControlName="phone"/>
              <div class="text-danger" *ngIf="anotherForm.get('phone').invalid && (anotherForm.get('phone').touched || anotherForm.get('phone').dirty)">
                <p *ngIf="anotherForm.hasError('phone', 'phone')">{{anotherForm.getError('phone', 'phone')?.info}}</p>
              </div>
            </div>
            <div formGroupName="pass">
              <div class="form-group">
                <label>密码:</label>
                <input type="password" class="form-control" placeholder="请输入密码" formControlName="pass1" />
              </div>
              <div class="form-group">
                <label>确认密码:</label>
                <input type="password" class="form-control" placeholder="请再次输入密码" formControlName="pass2" />
              </div>
            </div>
            <div class="text-danger" *ngIf="anotherForm.get('pass').invalid && (anotherForm.get('pass').touched || anotherForm.get('pass').dirty)">
              <p *ngIf="anotherForm.hasError('passValidator','pass')">
                {{anotherForm.getError('passValidator','pass')?.info}}
              </p>
            </div >
            <div class="form-group">
              <input type="submit" value="提交" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Sample Form
        </div>
        <div class="panel-body">
          <form action="#">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label>文本框</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="inputfile">文件输入</label>
              <input type="file" id="inputfile">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox">请打勾
              </label>
            </div>
            <div>
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
            <div class="form-group">
              <label>
                复选框和单选按钮
              </label>
              <div class="checkbox">
                <label><input type="checkbox" value="">选项1</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">选项2</label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>选项1
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">选项2
                </label>
              </div>
            </div>
            <div class="form-group">
              <label>选择列表</label>
              <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
              </select>
              <label>可多选的选择列表</label>
              <select multiple class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
