<div class="login-wrapper">
  <div class="login-container">
    <div class="login-box">
      <div class="text-center login-header">
        <h3 class="card-title" style="display:inline">后台管理系统登录</h3>
      </div>
      <hr/>
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label for="userName">用户名:</label>
          <input type="text" placeholder="请输入用户名" class="form-control" id="userName" formControlName="userName" />
          <div class="text-danger" *ngIf="loginForm.get('userName').invalid && (loginForm.get('userName').touched || loginForm.get('userName').dirty)">
            <p *ngIf="loginForm.hasError('required','userName')">用户名必填</p>
          </div>
        </div>
        <div class="form-group">
          <label for="password">密码:</label>
          <input type="text" placeholder="请输入密码" class="form-control" id="password" formControlName="userName" />
          <div class="text-danger" *ngIf="loginForm.get('password').invalid && (loginForm.get('password').touched || loginForm.get('password').dirty)">
            <p *ngIf="loginForm.hasError('required','password')">密码必填</p>
          </div>
        </div>
        <div class="form-group text-center">
          <input type="submit" value="登录" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div>
