<div class="container-fluid dashboard">
  <ul class="breadcrumb">
    <li>
      <a routerLink="/home">
        <i class="fa fa-fw fa-home"></i>Home
      </a>
    </li>
    <li>Dashboard</li>
  </ul>

  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-comments fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">26</div>
              <div>New Comments!</div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-tasks fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">12</div>
              <div>New Tasks!</div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-shopping-cart fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">124</div>
              <div>New Orders!</div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-support fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">13</div>
              <div>Support Tickets!</div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3>Title text</h3>
            <p>number</p>
            <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3>Title text</h3>
            <p>number</p>
            <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3>Title text</h3>
            <p>number</p>
            <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3>Title text</h3>
            <p>number</p>
            <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <i class="fa fa-4x fa-pie-chart pull-left"></i>
          <h1 class="pull-right">$1 206,90</h1>
          <h3 class="text-success">All Income</h3>
          <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small>
        </div>
        <div class="panel-footer">This is standard panel footer.</div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4 class="pull-left">Users Activity</h4>
          <i class="fa fa-4x fa-share pull-right"></i>
          <h3>4 210,160</h3>
          <span>Social users</span>
          <div class="row">
            <div class="col-xs-6">
              <small>Pages / Visit</small>
              <h4>7.80</h4>
            </div>
            <div class="col-xs-6">
              <small>New Visits</small>
              <h4>76.43%</h4>
            </div>
          </div>
        </div>
        <div class="panel-footer"> This is standard panel footer.</div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4 class="pull-left">Page Views</h4>
          <i class="fa fa-4x fa-database pull-right"></i>
          <h1 class="text-success">860k+</h1>
          <span>Social users</span>
          <br>
          <small>Lorem Ipsum is simply dummy text of the printing and <strong>typesetting industry</strong>. Lorem Ipsum has been.</small>
        </div>
        <div class="panel-footer">This is standard panel footer.</div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4 class="pull-left">Today income</h4>
          <i class="fa fa-4x fa-credit-card pull-right" style="margin-left: 0;"></i>
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-xs-5">
              <small>Today</small>
              <h4>$230,00</h4>
            </div>
            <div class="col-xs-7">
              <small>Last week</small>
              <h4>$7 980,60<i class="fa fa-level-up text-success"></i></h4>
            </div>
          </div>
        </div>
        <div class="panel-footer">This is standard panel footer.</div>
      </div>
    </div>
  </div>
</div>
