<div class="container-fluid" style="margin-top: 30px;">
  <ul class="breadcrumb">
    <li>Charts</li>
  </ul>
  <div class="row">
    <div class="col-md-6">
      <div id="barChart"></div>
    </div>
    <div class="col-md-6">
      <div id="lineChart"></div>
    </div>
    <div class="col-md-6">
      <div id="splineChart"></div>
    </div>
    <div class="col-md-6">
      <div id="areaChart"></div>
    </div>
    <div class="col-md-6">
      <div id="pieChart"></div>
    </div>
    <div class="col-md-6">
      <div id="columnChart"></div>
    </div>
  </div>
</div>
