<div class="container-fluid message">
  <ul class="breadcrumb">
    <li>
      <a routerLink="/home">
        <i class="fa fa-fw fa-home"></i>Home
      </a>
    </li>
    <li>Message</li>
  </ul>

  <div class="row">
    <div class="col-md-8">
      <h3>{{title}}</h3>
      <p>{{message}}</p>
      <ul>
        <li *ngFor="let i of info; index as k;">
          {{k}} - {{i}}
          <button class="btn btn-danger" (click)="deleteItem(k)">删除</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Information</h3>
        </div>
        <div class="panel-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem cupiditate dolor dolorum harum ipsa modi odit repellendus. Alias aliquid dolorem eaque, et excepturi fugit illo porro sequi ut vitae.
          </p>
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Information</h3>
        </div>
        <div class="panel-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem cupiditate dolor dolorum harum ipsa modi odit repellendus. Alias aliquid dolorem eaque, et excepturi fugit illo porro sequi ut vitae.
          </p>
        </div>
      </div>
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Information</h3>
        </div>
        <div class="panel-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem cupiditate dolor dolorum harum ipsa modi odit repellendus. Alias aliquid dolorem eaque, et excepturi fugit illo porro sequi ut vitae.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Information</h3>
        </div>
        <div class="panel-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem cupiditate dolor dolorum harum ipsa modi odit repellendus. Alias aliquid dolorem eaque, et excepturi fugit illo porro sequi ut vitae.
          </p>
        </div>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Information</h3>
        </div>
        <div class="panel-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem cupiditate dolor dolorum harum ipsa modi odit repellendus. Alias aliquid dolorem eaque, et excepturi fugit illo porro sequi ut vitae.
          </p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Information</h3>
        </div>
        <div class="panel-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem cupiditate dolor dolorum harum ipsa modi odit repellendus. Alias aliquid dolorem eaque, et excepturi fugit illo porro sequi ut vitae.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
