.setting {
  margin-top: 30px;

  .breadcrumb {
    a {
      text-decoration: none;
    }

    i.fa {
      margin-right: 5px;
    }
  }

  .admin_set {
    width: 80%;
    background-color: #F9FAFC;
    min-height: 400px;
    margin: 20px auto 0;
    border-radius: 10px;

    .avatar-uploader {
      border: 1px dashed #d9d9d9;
      margin-top: 10px;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;

      .avatar {
        width: 120px;
        height: 120px;
        display: block;
      }
    }
  }
}
