<div class="container-fluid home">
  <div class="row">
    <!--轮播图-->
    <div class="carousel slide" id="carousel">
      <!--轮播指标-->
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
      </ol>
      <!--轮播项目-->
      <div class="carousel-inner">
        <div class="item active">
          <img class="slide-image" src="../../../assets/image/home/carousel1.jpg" alt="">
        </div>
        <div class="item">
          <img class="slide-image" src="../../../assets/image/home/carousel2.jpg" alt="">
        </div>
        <div class="item">
          <img class="slide-image" src="../../../assets/image/home/carousel3.jpg" alt="">
        </div>
      </div>
      <!--轮播导航-->
      <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>

  <div class="row" style="margin-top: 30px;">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="../../../assets/image/home/pic1.jpg" alt="">
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="../../../assets/image/home/pic2.jpg" alt="">
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="../../../assets/image/home/pic3.jpg" alt="">
      </div>
    </div>
  </div>
</div>
