.navbar {
  background: #4594ec;
  border-top: 1px solid #55aae9;

  .container {
    div.row {
      line-height: 50px;

      span.copyright {
        font-size: 16px;
        color: #fff;
      }
    }
  }
}
